.App {
  height: 100vh;
  background: black;
  color: white;
}
.boxContainer {
  margin-bottom: 2rem;
}
.form {
}
.headline {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.para {
  font-weight: bold;
}
